<c-avatar *ngIf="type=='AddEMI'" style="margin-left: 0.5rem; cursor: pointer;" color="info" textColor="white" size="l"
  title="Collect EMI" (click)="openAddNewModal()">
  <svg [cIcon]="icons.cilMinus" size="xl"></svg>
</c-avatar>
<c-avatar style="margin-left: 0.5rem; cursor: pointer; " color="primary" textColor="white" size="l" title="Add Loan"
  (click)="openAddNewModal()" *ngIf="type=='AddLoan'">
  <svg [cIcon]="icons.cilPlus" size="xl"></svg>
</c-avatar>

<c-modal alignment="center" backdrop="static" size="lg" id="addCustomerGroupModal" [visible]="visibleAddLoan"
  (visibleChange)="handleAddLoanChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{modalTitle}}</h5>
    <button (click)="toggleAddLoanModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row class="justify-content-center">
      <c-col xl="11" md="4" sm="4">
        <form>
          <div cRow class="row mb-3">
            <div class="col-sm-12">
              <div cFormFloating>
                <input cFormControl id="txtLoanAmount" placeholder="Enter Loan Amount" type="number" autocomplete="off"
                  [(ngModel)]="loanDetail.LoanAmount" name="txtLoanAmount" (input)="calculateInterest()" />
                <label cLabel for="txtLoanAmount">Enter Loan Amount</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div cFormFloating>
                <input cFormControl id="txtLoanWithInterest" placeholder="Enter Loan with interest" type="number"
                  autocomplete="off" [(ngModel)]="loanDetail.LoanAmountWithInterest" name="txtLoanWithInterest"
                  readonly />
                <label cLabel for="txtLoanWithInterest">Enter Loan with interest</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div cFormFloating>
                <input cFormControl id="txtEMIPerInstallment" placeholder="Installment Amount" type="number"
                  autocomplete="off" [(ngModel)]="txtEMIPerInstallment" name="txtEMIPerInstallment"
                  (input)="calculateInterest()" readonly />
                <label cLabel for="txtEMIPerInstallment">Installment Amount</label>
              </div>
            </div>
          </div>
          <div cRow class="row mb-3">
            <div class="col-sm-12">
              <div cFormFloating>
                <input cFormControl id="txtLoanStartDate" placeholder="Loan Start Date" type="date" autocomplete="off"
                  [value]="loanDetail.LoanStartDate | date:'yyyy-MM-dd'" name="txtLoanStartDate"
                  (input)="calculateEndDate($event)" />
                <label cLabel for="txtLoanStartDate">Loan Start Date</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div cFormFloating>
                <input cFormControl id="txtLoanEndDate" placeholder="Loan End Date" type="date" autocomplete="off"
                  [value]="loanDetail.LoanEndDate | date:'yyyy-MM-dd'"
                  (input)="loanDetail.LoanEndDate=parseDate($event)" name="txtLoanEndDate" readonly />
                <label cLabel for="txtLoanEndDate">Loan End Date</label>
              </div>
            </div>
          </div>
        </form>
      </c-col>
    </c-row>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleAddLoanModal()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="handleModalSubmitEvent(action)">{{modalSubmitButtonText}}</button>
  </c-modal-footer>
</c-modal>




<c-modal alignment="center" backdrop="static" size="sm" id="addCustomerModal" [visible]="visibleAddEMI"
  (visibleChange)="handleAddEMIChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{modalTitle}}</h5>
    <button (click)="toggleAddEMIModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row class="justify-content-center">
      <c-col xl="8" md="4" sm="4">
        <form>
          <div cFormFloating>
            <input cFormControl id="txtInvestment{{selectedCustomer.CustomerId}}"
              placeholder="{{modalTextboxPlaceholder}}" type="number" autocomplete="off"
              [(ngModel)]="modifiedInvestment" name="txtInvestment{{selectedCustomer.CustomerId}}" />
            <label cLabel for="txtInvestment{{selectedCustomer.CustomerId}}">{{modalTextboxPlaceholder}}</label>
          </div>
        </form>
      </c-col>
    </c-row>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleAddEMIModal()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="handleModalSubmitEvent(action)">{{modalSubmitButtonText}}</button>
  </c-modal-footer>
</c-modal>