<!-- {{selectedCustomerGroup | json }} -->
<table [hover]="true" [responsive]="true" align="middle" cTable class="mb-0 border">
  <thead cTableColor="light">
    <tr>
      <th class="text-center">
        <svg cIcon name="cilUser"></svg>
      </th>
      <th>Customer</th>
      <th class="text-center">Address</th>
      <th>Loan Status</th>
      <th class="text-center">Phone Number</th>
      <th class="text-center">Activity</th>
    </tr>
  </thead>
  <tbody>

    <ng-container *ngFor="let currentCustomer of selectedCustomerGroup.Customers; index as i">
      <tr>
        <td class="text-center">
          <c-avatar size="md" src="./assets/img/avatars/{{(i + 1) % 6}}.jpg" status="primary"></c-avatar>
        </td>
        <td>
          <div style="cursor: pointer; text-decoration: underline;" (click)="toggleProfileModal(currentCustomer)">{{
            currentCustomer.CustomerName }}
          </div>
          <div class="small text-medium-emphasis text-nowrap">
            <span>
              @if (currentCustomer.CustomerLoanStartDate?.toString() != 'Invalid Date'){
              Start: {{currentCustomer.CustomerLoanStartDate| date:"MMM dd, yyyy"}}
              }
              @if (currentCustomer.CustomerLoanEndDate?.toString() != 'Invalid Date'){
              | End: {{currentCustomer.CustomerLoanEndDate| date:"MMM dd, yyyy"}}
              }
            </span>
          </div>
        </td>
        <td class="text-start">
          <div>{{ currentCustomer.CustomerAddress }}</div>
        </td>
        <td>
          <div class="d-flex justify-content-between">
            <div class="float-start">
              @if(currentCustomer.CustomerLoanTotal){
              <strong>{{
                ((
                currentCustomer.CustomerLoanCollectedAmout/currentCustomer.CustomerLoanTotal)*100).toFixed(0)
                }}%</strong>
              }
              @else {
              <strong>0%</strong>
              }
            </div>
            <div class="float-end ms-1 text-nowrap">
              @if(currentCustomer.CustomerLoanTotal){
              <small class="text-medium-emphasis">
                {{ currentCustomer.CustomerLoanCollectedAmout }} /
                {{ currentCustomer.CustomerLoanTotal }}
              </small>
              }
              @else {
              <small class="text-medium-emphasis">
                0 / 0
              </small>
              }
            </div>
          </div>
          <c-progress thin>
            <!-- <c-progress-bar [value]="currentCustomer.CustomerId" color="primary"></c-progress-bar> -->

            @if(currentCustomer.CustomerLoanTotal){
            <c-progress-bar
              [value]="((currentCustomer.CustomerLoanCollectedAmout/currentCustomer.CustomerLoanTotal)*100).toFixed(2)"
              color="primary"></c-progress-bar>
            }
            @else {
            <c-progress-bar [value]=0 color="primary"></c-progress-bar>
            }

          </c-progress>
        </td>
        <td class="text-center">
          <div>{{ currentCustomer.CustomerPhone }}</div>
        </td>
        <td class="text-center">
          <div style=" width: 100%; display: flex;">
            <app-manage-loan-widget type="AddLoan" (addLoan)="addLoan($event)" [selectedCustomer]="currentCustomer"
              [selectedCustomerGroup]="selectedCustomerGroup"></app-manage-loan-widget>
            <app-manage-loan-widget type="AddEMI" (deductEmit)="addEMI($event)" [selectedCustomer]="currentCustomer"
              [selectedCustomerGroup]="selectedCustomerGroup"></app-manage-loan-widget>
            <app-manage-customer-group-customer-map-widget [selectedCustomer]="currentCustomer"
              [selectedCustomerGroup]="selectedCustomerGroup"></app-manage-customer-group-customer-map-widget>
          </div>
        </td>
      </tr>
    </ng-container>

    <!-- 
    <ng-container *ngFor="let user of users; index as i">
      <tr>
        <td class="text-center">
          <c-avatar size="md" src="{{ user.avatar }}" status="{{ user.status }}"></c-avatar>
        </td>
        <td>
          <div>{{ user.name }} {{i}}</div>
          <div class="small text-medium-emphasis text-nowrap">
            <span>
              Start: {{ user.state }} | End: {{ user.registered }}
            </span>
          </div>
        </td>
        <td class="text-center">
          <div>{{ user.name }} {{i}}</div>
        </td>
        <td>
          <div class="d-flex justify-content-between">
            <div class="float-start">
              <strong>{{ user.usage }}%</strong>
            </div>
            <div class="float-end ms-1 text-nowrap">
              <small class="text-medium-emphasis">
                {{ user.period }}
              </small>
            </div>
          </div>
          <c-progress thin>
            <c-progress-bar [value]="user.usage" color="{{ user.color }}"></c-progress-bar>
          </c-progress>
        </td>
        <td class="text-center">
          <div>{{ user.name }} {{i}}</div>
        </td>
        <td class="text-center">
          <div style=" width: 100%; display: flex;">
            <app-manage-loan-widget type="AddLoan"></app-manage-loan-widget>
            <app-manage-loan-widget type="AddEMI"></app-manage-loan-widget>
            <app-manage-customer-group-customer-map-widget></app-manage-customer-group-customer-map-widget>
          </div>
        </td>
      </tr>
    </ng-container> -->
  </tbody>
</table>

<c-container>
  <c-row class="justify-content-center">
    <c-col xl="3" md="4" sm="4" style="margin-bottom: 10px; margin-top: 10px;">
      <app-add-new-widget type="Customer" [selectedCustomerGroup]="selectedCustomerGroup"
        (addCustomer)="addCustomer($event)"></app-add-new-widget>
    </c-col>
  </c-row>
</c-container>



<!-- 


<c-modal alignment="center" backdrop="static" size="sm" id="liveDemoModal" [visible]="visible"
  (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{modalTitle}}</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row class="justify-content-center">
      <c-col xl="8" md="4" sm="4">
        <form>
          <div cFormFloating>
            <input cFormControl id="txtInvestment" placeholder="{{modalTextboxPlaceholder}}" type="number"
              autocomplete="off" [(ngModel)]="modifiedInvestment" name="txtInvestment" />
            <label cLabel for="txtInvestment">{{modalTextboxPlaceholder}}</label>
          </div>
        </form>
      </c-col>
    </c-row>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="handleModalSubmitEvent(action)">{{modalSubmitButtonText}}</button>
  </c-modal-footer>
</c-modal> -->




<c-modal alignment="center" backdrop="static" size="sm" id="liveDemoModal" [visible]="visible"
  (visibleChange)="handleLiveDemoChange($event)" scrollable>
  <c-modal-header>
    <h5 cModalTitle>{{modalTitle}}</h5>
    <button (click)="toggleProfileModal(undefined)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <section style="background-color: #eee;">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-sm-12">

            <div class="card" style="border-radius: 15px;">
              <div class="card-body text-center">
                <div class="mt-3 mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                    class="rounded-circle img-fluid" style="width: 100px;" />
                </div>
                <h4 class="mb-2">{{ profileCustomerSelected?.CustomerName }}</h4>
                <p class="text-muted mb-4">{{ profileCustomerSelected?.CustomerPhone }} <span class="mx-2">|</span> {{
                  profileCustomerSelected?.CustomerAddress }}</p>
                <div class="d-flex justify-content-between text-center mt-5 mb-2">
                  <div>
                    <p class="mb-2 h5">xxxx</p>
                    <p class="text-muted mb-0">TO BE MODIFIED</p>
                  </div>
                  <div class="px-3">
                    <p class="mb-2 h5">xxxx</p>
                    <p class="text-muted mb-0">TO BE MODIFIED</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleProfileModal(undefined)" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>