<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
      Today's Collection (Date: {{todayDate | date: 'dd-MMM-yyyy'}})
    </c-card-header>
    <c-card-body>
      <table cTable>
        <thead cTableColor="info">
          <tr>
            <th colspan="4" class="text-center" scope=" col">Collection</th>
          </tr>
        </thead>
        <thead cTableColor="primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Collected By</th>
          </tr>
        </thead>
        <tbody>
          @if(collectionDetails == null || collectionDetails.length == 0){
          <tr>
            <th colspan="4" style="text-align: center;">No Loans for today</th>
          </tr>
          }
          @for (collectionDetail of collectionDetails; track $index) {
          <tr>
            <th scope="row">{{$index + 1}}</th>
            <td>{{collectionDetail.CustomerName}}</td>
            <td>{{collectionDetail.Amount}}</td>
            <td>{{collectionDetail.CollectedBy}}</td>
          </tr>
          }
        </tbody>
        <tfoot cTableColor="primary">
          <tr>
            <td>Total</td>
            <td></td>
            <td>{{CollectionTotal}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>

      <table cTable class="mt-5">
        <thead cTableColor="info">
          <tr>
            <th colspan="4" class="text-center" scope=" col">Loans Provided</th>
          </tr>
        </thead>
        <thead cTableColor="primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Collected By</th>
          </tr>
        </thead>
        <tbody>
          @if(loanDetails == null || loanDetails.length == 0){
          <tr>
            <th colspan="4" style="text-align: center;">No Loans for today</th>
          </tr>
          }
          @for (loanDetail of loanDetails; track $index) {
          <tr>
            <th scope="row">{{$index + 1}}</th>
            <td>{{loanDetail.CustomerName}}</td>
            <td>{{loanDetail.Amount}}</td>
            <td>{{loanDetail.CollectedBy}}</td>
          </tr>
          }
        </tbody>
        <tfoot cTableColor="primary">
          <tr>
            <td>Total</td>
            <td></td>
            <td>{{LoanTotal}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </c-card-body>
  </c-card>
</div>