<!-- <div class="fade-in">
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Customer Groups</c-card-header>
        <c-card-body>
          <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead cTableColor="light">
              <tr>
                <th class="text-center">
                  <svg cIcon name="cilPeople"></svg>
                </th>
                <th>Name</th>
                <th class="text-center">Address</th>
                <th>Leader</th>
                <th class="text-center">Group Count</th>
                <th>End Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customerGroup of filteredCustomerGroups; index as i">
                <td class="text-center">
                  <c-avatar size="md" src="{{ customerGroup.avatar }}" status="{{ customerGroup.status }}"></c-avatar>
                </td>
                <td>
                  <div>{{ customerGroup.CustomerGroupName }}</div>
                  <div class="small text-medium-emphasis text-nowrap">
                    <span>
                      {{ customerGroup.state }} | Registered: {{ customerGroup.registeredDate }}
                    </span>
                  </div>
                </td>
                <td class="text-center">
                  <svg cIcon id="{{ user.country + user.name }}" name="cif{{ user.country }}" size="xl"
                    title="{{ user.country }}"></svg>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <div class="float-start">
                      <strong>{{ user.usage }}%</strong>
                    </div>
                    <div class="float-end ms-1 text-nowrap">
                      <small class="text-medium-emphasis">
                        {{ user.period }}
                      </small>
                    </div>
                  </div>
                  <c-progress thin>
                    <c-progress-bar [value]="user.usage" color="{{ user.color }}"></c-progress-bar>
                  </c-progress>
                </td>
                <td class="text-center">
                  <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
                </td>
                <td>
                  <div class="small text-medium-emphasis">Last login</div>
                  <div class="fw-semibold text-nowrap">{{ user.activity }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div> -->


<!-- 
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse"
        data-coreui-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-coreui-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
        <code>.accordion-flush</code> class. This is the first item's accordion body.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse"
        data-coreui-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-coreui-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
        <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled
        with some actual content.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse"
        data-coreui-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-coreui-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
        <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening
        here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more
        representative of how this would look in a real-world application.
      </div>
    </div>
  </div>
</div>


 -->


<div class="accordion accordion-flush" id="accordionFlushExample">

  <div class="fade-in">
    <c-row>
      <c-col xs>
        <c-card class="mb-1">
          <c-card-header>Customer Groups

            <!-- <button style="float: right !important;" cButton cBgColor="primary" cTextColor="white">Go somewhere</button> -->

            <app-add-new-widget type="Group" (addGroup)="addNewCustomerGroup($event)"></app-add-new-widget>
            <input class="form-control form-control-sm col-sm-2 w-30 me-3" style="width: 25%; float: right !important;"
              (input)="filterResults()" id="txtSearch" [(ngModel)]="searchString" name="txtSearch" />
          </c-card-header>
          <c-card-body>
            <table class="tblGroups" [hover]="true" [responsive]="true" align="middle" cTable class="mb-0 border">
              <thead cTableColor="light">
                <tr>
                  <th class="text-center">
                    <svg cIcon name="cilPeople"></svg>
                  </th>
                  <th>Group Name</th>
                  <th class="text-center">Location</th>
                  <th>Balance</th>
                  <!-- <th class="text-center">Leader</th> -->
                  <th>Created</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let currentCustomerGroup of filteredCustomerGroups; index as i">

                  <tr (click)="clickAccordion('btn-accordion-'+i)" style="cursor: pointer;">
                    <td class="text-center p-0">
                      <div class="container p-0">
                        <c-avatar size="lg" src="./assets/img/icon/group-1.png" status="primary"></c-avatar>
                      </div>
                      <div class="accordion-item d-none">

                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse"
                            [attr.data-coreui-target]="'#flush-collapse_'+i" aria-expanded="false"
                            [attr.aria-controls]="'flush-collapse_'+i" id="btn-accordion-{{i}}">
                          </button>
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div>{{ currentCustomerGroup.CustomerGroupName }} {{i}}</div>
                      <div class="small text-medium-emphasis text-nowrap">
                        <span>
                          {{ currentCustomerGroup.CreatedDate }} | Registered: {{ currentCustomerGroup.ModifiedDate }}
                        </span>
                      </div>
                    </td>
                    <td class="text-center">
                      <span>{{ currentCustomerGroup.CustomerGroupLocation }}</span>
                    </td>
                    <td>
                      <div class="d-flex justify-content-between">
                        <div class="float-start">
                          <strong>{{(i + 5) * 3}}%</strong>
                        </div>
                        <div class="float-end ms-1 text-nowrap">
                          <small class="text-medium-emphasis">
                            {{ (i + 5) * 3 }}
                          </small>
                        </div>
                      </div>
                      <c-progress thin>
                        <c-progress-bar [value]="(i + 5) *  3" color="primary"></c-progress-bar>
                      </c-progress>
                    </td>
                    <td>
                      <div class="small text-medium-emphasis">Last login</div>
                      <!-- <div class="fw-semibold text-nowrap">{{ user.activity }}</div> -->
                    </td>
                  </tr>

                  <tr class="p-0">
                    <td colspan="6" class="p-0">
                      <div id="flush-collapse_{{i}}" class="accordion-collapse collapse"
                        data-coreui-parent="#accordionFlushExample">
                        <div class="accordion-body pt-1">
                          <app-list-customer-group-widget></app-list-customer-group-widget>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>


                <ng-container *ngFor="let user of users; index as i">
                  <tr (click)="clickAccordion('btn-accordion-'+i)" style="cursor: pointer;">
                    <td class="text-center p-0">
                      <div class="container p-0">
                        <c-avatar size="lg" src="../../../assets/img/icon/group-1.png" status="primary"></c-avatar>
                      </div>

                      <!-- <div fxShow.sm="true" fxShow.gt-sm="false" fxShow="true" style="min-width: 4rem;">
                        <div class="container" style="margin: 0; padding: 0;">
                          <c-avatar class="box" size="md" textColor="white" color="primary" status="{{ user.status }}"
                            style="margin: 0;">TEST</c-avatar>
                          <c-avatar class="box overlay" size="md" src="{{ user.avatar }}" status="{{ user.status }}"
                            style="margin-left: 5px;"></c-avatar>
                          <c-avatar class="box overlay" size="md" src="{{ user.avatar }}" status="{{ user.status }}"
                            style="margin-left: 10px;"></c-avatar>
                          <c-avatar class="box overlay" size="md" src="{{ user.avatar }}" status="{{ user.status }}"
                            style="margin-left: 15px;"></c-avatar>
                        </div>
                      </div>
                      <div fxHide.sm="true" fxHide.gt-sm="false" fxHide="true">
                        <div class="container" fxHide.sm="true" fxHide.gt-sm="false" fxHide="true"
                          style="margin: 0; padding: 0;">
                          <c-avatar class="box" size="md" textColor="white" color="primary" status="{{ user.status }}"
                            style="margin: 0;">TEST</c-avatar>
                          <c-avatar class="box overlay" size="md" src="{{ user.avatar }}" status="{{ user.status }}"
                            style="margin-left: 30px;"></c-avatar>
                          <c-avatar class="box overlay" size="md" src="{{ user.avatar }}" status="{{ user.status }}"
                            style="margin-left: 60px;"></c-avatar>
                          <c-avatar class="box overlay" size="md" src="{{ user.avatar }}" status="{{ user.status }}"
                            style="margin-left: 90px;"></c-avatar>
                        </div>
                      </div> -->


                      <div class="accordion-item d-none">

                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse"
                            [attr.data-coreui-target]="'#flush-collapse_'+i" aria-expanded="false"
                            [attr.aria-controls]="'flush-collapse_'+i" id="btn-accordion-{{i}}">
                          </button>
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div>{{ user.name }} {{i}}</div>
                      <div class="small text-medium-emphasis text-nowrap">
                        <span>
                          {{ user.state }} | Registered: {{ user.registered }}
                        </span>
                      </div>
                    </td>
                    <td class="text-center">
                      <svg cIcon id="{{ user.country + user.name }}" name="cif{{ user.country }}" size="xl"
                        title="{{ user.country }}"></svg>
                    </td>
                    <td>
                      <div class="d-flex justify-content-between">
                        <div class="float-start">
                          <strong>{{ user.usage }}%</strong>
                        </div>
                        <div class="float-end ms-1 text-nowrap">
                          <small class="text-medium-emphasis">
                            {{ user.period }}
                          </small>
                        </div>
                      </div>
                      <c-progress thin>
                        <c-progress-bar [value]="user.usage" color="{{ user.color }}"></c-progress-bar>
                      </c-progress>
                    </td>
                    <!-- <td class="text-center">
                      <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
                    </td> -->
                    <td>
                      <div class="small text-medium-emphasis">Last login</div>
                      <div class="fw-semibold text-nowrap">{{ user.activity }}</div>
                    </td>
                  </tr>

                  <tr class="p-0">
                    <td colspan="6" class="p-0">
                      <div id="flush-collapse_{{i}}" class="accordion-collapse collapse"
                        data-coreui-parent="#accordionFlushExample">
                        <div class="accordion-body pt-1">
                          <app-list-customer-group-widget></app-list-customer-group-widget>
                        </div>
                      </div>
                    </td>
                  </tr>


                </ng-container>
              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </div>
</div>


<c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal">
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Woohoo, you&#39;re reading this text in a modal!</c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary">Understood</button>
  </c-modal-footer>
</c-modal>


<!-- 
<div class="fade-in">
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Users</c-card-header>
        <c-card-body>
          <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead cTableColor="light">
              <tr>
                <th class="text-center">
                  <svg cIcon name="cilPeople"></svg>
                </th>
                <th>User</th>
                <th class="text-center">Country</th>
                <th>Usage</th>
                <th class="text-center">Payment Method</th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let user of users; index as i">
                <tr (click)="expandUser=user">
                  <td class="text-center">
                    <c-avatar size="md" src="{{ user.avatar }}" status="{{ user.status }}"></c-avatar>
                  </td>
                  <td>
                    <div>{{ user.name }} {{i}}</div>
                    <div class="small text-medium-emphasis text-nowrap">
                      <span>
                        {{ user.state }} | Registered: {{ user.registered }}
                      </span>
                    </div>
                  </td>
                  <td class="text-center">
                    <svg cIcon id="{{ user.country + user.name }}" name="cif{{ user.country }}" size="xl"
                      title="{{ user.country }}"></svg>
                  </td>
                  <td>
                    <div class="d-flex justify-content-between">
                      <div class="float-start">
                        <strong>{{ user.usage }}%</strong>
                      </div>
                      <div class="float-end ms-1 text-nowrap">
                        <small class="text-medium-emphasis">
                          {{ user.period }}
                        </small>
                      </div>
                    </div>
                    <c-progress thin>
                      <c-progress-bar [value]="user.usage" color="{{ user.color }}"></c-progress-bar>
                    </c-progress>
                  </td>
                  <td class="text-center">
                    <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
                  </td>
                  <td>
                    <div class="small text-medium-emphasis">Last login</div>
                    <div class="fw-semibold text-nowrap">{{ user.activity }}</div>
                  </td>
                </tr>

                <tr [@fadeInOut] *ngIf="expandUser && expandUser.name==user.name">
                  <td colspan="5">
                    <div class="ms-5">
                      <table>
                        <tr>
                          <td class="text-center">
                            <c-avatar size="md" src="{{ user.avatar }}" status="{{ user.status }}"></c-avatar>
                          </td>
                          <td>
                            <div>{{ user.name }} {{i}}</div>
                            <div class="small text-medium-emphasis text-nowrap">
                              <span>
                                {{ user.state }} | Registered: {{ user.registered }}
                              </span>
                            </div>
                          </td>
                          <td class="text-center">
                            <svg cIcon id="{{ user.country + user.name }}" name="cif{{ user.country }}" size="xl"
                              title="{{ user.country }}"></svg>
                          </td>
                          <td>
                            <div class="d-flex justify-content-between">
                              <div class="float-start">
                                <strong>{{ user.usage }}%</strong>
                              </div>
                              <div class="float-end ms-1 text-nowrap">
                                <small class="text-medium-emphasis">
                                  {{ user.period }}
                                </small>
                              </div>
                            </div>
                            <c-progress thin>
                              <c-progress-bar [value]="user.usage" color="{{ user.color }}"></c-progress-bar>
                            </c-progress>
                          </td>
                          <td class="text-center">
                            <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
                          </td>
                          <td>
                            <div class="small text-medium-emphasis">Last login</div>
                            <div class="fw-semibold text-nowrap">{{ user.activity }}</div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>


              </ng-container>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div> -->