<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
      Cash Investment
    </c-card-header>
    <c-card-body>
      <!-- <app-widgets-dropdown></app-widgets-dropdown> -->
      <!-- <c-row> -->
      @if(WidgetData){
      <app-single-widget [amount]=amount [WidgetTitle]=WidgetTitle [widgetText]=widgetText [WidgetData]=WidgetData
        (addInvestment)="addInvestment($event)" (deductInvestment)="deductInvestment($event)"></app-single-widget>
      }
    </c-card-body>
  </c-card>
</div>