<div class="accordion accordion-flush" id="accordionFlushExample">

  <div class="fade-in">
    <c-row>
      <c-col xs>
        <c-card class="mb-1">
          <c-card-header>Customer Loan Entry
            <app-add-new-widget type="Group"></app-add-new-widget>
            <input class="form-control form-control-sm col-sm-2 w-30 me-3"
              style="width: 25%; float: right !important;" />
          </c-card-header>
          <c-card-body>
            <table class="tblGroups" [hover]="true" [responsive]="true" align="middle" cTable class="mb-0 border">
              <thead cTableColor="light">
                <tr>
                  <th class="text-center">
                    <svg cIcon name="cilPeople"></svg>
                  </th>
                  <th>Group Name</th>
                  <th class="text-center">Location</th>
                  <th>Balance</th>
                  <!-- <th class="text-center">Leader</th> -->
                  <th>Created</th>
                </tr>
              </thead>
              <tbody>


              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </div>
</div>